<mat-toolbar>
    <span>
        <a routerLink="/">
            Data Structures and Algorithms
        </a>
    </span>
    <span>
        <button mat-button>
            <a routerLink="/data-structures">
                Data Structures
            </a>
        </button>
    </span>
    <span>
        <button mat-button>
            <a>
                Algorithms
            </a>
        </button>
    </span>
    <span>
        <button mat-button>
            <a>
                About
            </a>
        </button>
    </span>
</mat-toolbar>